@using CalorieCounterV1.Models
@model IEnumerable<CalorieCounterV1.Models.DailyCalorieCount>

@{
    ViewBag.Title = "My Calorie Counts";
}

<h2>All Counts</h2>

<p>
    @Html.ActionLink("New Calorie Count", "CreateCount",null, new { @class = "btn btn-info" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCalories)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalCalories)
    </td>

    <td>
        @Html.ActionLink("Details", "Details", new { id = item.DailyCalorieCountId }, new { @class="btn btn-warning" }) <b>   </b>
        @Html.ActionLink("Delete", "DeleteDailyCount", new { id = item.DailyCalorieCountId }, new { @class="btn btn-danger", onclick="return confirm ('Are you sure?')" })
    </td>
</tr>
    }

</table>
