
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Dash</h2>

@Html.ActionLink("All Calorie Items","AllCalorieItems","Admin",null,new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("All Categories","AllCategories","Admin",null,new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("All Users ","AllUsers","Admin",null,new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("Requests","AllRequests","Admin",null,new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("Podcasts","AllPodcasts","Admin",null,new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("Website Features","AllFeatures","Admin",null,new { @class = "btn btn-success btn-lg" })



